@mixin button($bg-color, $color, $border, $hover-bg-color) {
  background-color: $bg-color;
  color: $color;
  border: $border;
  cursor: pointer;

  &:hover {
    background-color: $hover-bg-color;
  }
}

@mixin flex($direction, $justify, $align, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin sizes($width, $height) {
  width: $width;
  height: $height;
}

@mixin font($size, $line-height, $weight) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}
