// Font-weight

$font-regular: 400;
$font-bold: 700;

// Text-sizes

$text-size-0: 10px;
$text-size-1: 12px;
$text-size-2: 14px;
$text-size-3: 16px;
$text-size-4: 22px;
$text-size-5: 24px;
$text-size-6: 28px;
$text-size-7: 32px;

// Line-height

$line-height-1: 10px;
$line-height-2: 12px;
$line-height-3: 14px;
$line-height-4: 16px;
$line-height-5: 20px;
$line-height-6: 22px;
$line-height-7: 24px;
$line-height-8: 28px;
$line-height-9: 30px;
$line-height-10: 32px;
$line-height-11: 34px;
$line-height-12: 38px;
$line-height-13: 44px;
